---
import '@fontsource-variable/platypi';
import '@fontsource-variable/inter'
import '../styles/global.css';
import '../styles/content.css';

import Footer from '../components/layout/Footer';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title} - wanner.work</title>
  </head>
  <body class="bg-light dark:bg-dark text-dark dark:text-light">
    <slot />
    <footer>
        <Footer />
    </footer>
  </body>
</html>