---
import '@fontsource-variable/platypi'
import '@fontsource-variable/inter'
import '../styles/global.css'
import '../styles/content.css'

import Footer from '../components/layout/Footer'
import ClickSpark from '../components/animate/ClickSpark'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - wanner.work</title>
  </head>
  <body
    class="bg-light dark:bg-dark text-dark/90 dark:text-light/90 selection:text-light selection:bg-dark/90 dark:selection:bg-light dark:selection:text-dark/90 transition-colors duration-500"
  >
    <ClickSpark
      sparkColor="#2b2927"
      sparkSize={10}
      sparkRadius={15}
      sparkCount={8}
      duration={400}
      client:only
    />
    <slot />
    <footer>
      <Footer />
    </footer>
  </body>
</html>
