@import 'tailwindcss';
@source "../../node_modules/@wanner.work";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark: #2b2927;
  --color-light: #e8dfcb;

  --font-serif: 'Platypi Variable', serif;
  --font-sans: 'Inter Variable', sans-serif;

  --spacing-small: 500px;
  --spacing-large: 700px;

  --default-transition-duration: 100ms;
}

a:focus-visible {
  outline-offset: 2px;
  outline-width: 3px;
  outline-color: #2b2927;
}
