---
import Page from '../components/layout/Page'
import DatepickerCraft from '../crafts/datepicker/components/DatepickerCraft'
import InboxCraft from '../crafts/inbox/components/InboxCraft'
import PickerCraft from '../crafts/picker/components/PickerCraft'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Crafts">
  <Page
    title="Crafts"
    description="Kleine web Experimente, mit welchen ich neue Dinge ausprobiere."
  >
    <div className="flex flex-col gap-12">
      <PickerCraft client:visible />
      <DatepickerCraft client:visible />
      <InboxCraft client:visible />
    </div>
  </Page>
</Layout>
