---
import { getCollection } from 'astro:content'
import Page from '../components/layout/Page'
import Layout from '../layouts/Layout.astro'
import ProjectOverview from '@/components/pages/projects/ProjectOverview'
import getI18n from '@/methods/i18n/getI18n'
const projects = await getCollection('projects')
---

<Layout title={getI18n('projects.title')}>
  <Page
    title={getI18n('projects.title')}
    description={getI18n('projects.description')}
  >
    <div class="flex flex-col gap-12">
      {
        projects.map((project) => (
          <ProjectOverview
            id={project.id}
            image={project.data.image}
            description={project.data.description}
            link={project.data.link}
          />
        ))
      }
    </div>
  </Page>
</Layout>
