---
import { getCollection } from 'astro:content'
import Page from '../components/layout/Page'
import Layout from '../layouts/Layout.astro'
import TestimonialOverview from '../components/pages/testimonials/TestimonialOverview'
import i18n from '@/methods/i18n/i18n'

const testimonials = await getCollection('testimonials')
---

<Layout title={i18n('testimonials.title')}>
  <Page
    title={i18n('testimonials.title')}
    description={i18n('testimonials.description')}
  >
    <div class="flex flex-col gap-12">
      {
        testimonials.map((testimonial) => (
          <TestimonialOverview
            name={testimonial.data.name}
            picture={testimonial.data.picture}
            company={testimonial.data.company}
            companyLink={testimonial.data.companyLink}
            html={testimonial.rendered?.html || ''}
          />
        ))
      }
    </div>
  </Page>
</Layout>
