.content-container {
    p {
        margin-bottom: 1rem;
    }

    img {
        position: relative;
    }

    img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
}