@import "tailwindcss";
@source "../../node_modules/@wanner.work";

@theme {
  --color-dark: #2B2927;
  --color-light: #E8DFCB;

  --font-serif: 'Platypi Variable', serif;
  --font-sans: 'Inter Variable', sans-serif;
} 